* {
    font-family: 'Roboto', sans-serif;
}


/* Background color */

html body {
    background-color: #ccc;
}

#logo {
    text-align: center;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, .8);
    padding: 0.8rem 1rem;
}


/* change the link color and add padding for height */

.navbar-custom .navbar-nav .nav-link {
    color: #fff;
    padding: 1rem 1rem;
}


/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: #ee4400;
    /* add background-color to active links */
}

.navbar-custom {
    background-color: #ff5500;
}


/* change the brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #fff;
}


/* change the link color */

.navbar-custom .navbar-nav .nav-link {
    color: #fff;
}

.nav-link {
    color: #ffffff;
}


/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}


/* for dropdown only - change the color of droodown */

.navbar-custom .dropdown-menu {
    background-color: #ff5500;
}

.navbar-custom .dropdown-item {
    color: #fff;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, .5);
}

#footer {
    padding: 20px;
}


/* Subscricao */

.home-newsletter {
    padding: 80px 0;
    background: #ff5500;
}

.home-newsletter .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.home-newsletter .single h2 {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.home-newsletter .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}

.home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f;
}

.home-newsletter .single .btn {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: #243c4f;
    color: #fff;
}


/* Card */